#page h2.heading-id-copy,
#page h3.heading-id-copy,
#page h4.heading-id-copy,
#page h5.heading-id-copy,
#page h6.heading-id-copy{  
    cursor: pointer;
}

.heading-id-copy .copy-icon {
    width: 0.8em;
    cursor: pointer;
}
